* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

/*FOOTER*/
.footer {
  flex: 0 0 auto;
}
.footer{
  background-color: #ff914d;
  width: 100%;
  height: 100px;
  text-align: center;
  flex: 0 0 auto;
}
.footer p{
  margin-top: 20px;
  color: black;
  font-family: "Gothic", sans-serif;
}
.footer a{
  text-decoration:none;
  font-family: 'Gothic', sans-serif; 
  margin-top: 5px;
  size: 10px;
  color: black;
  }

/*HEADER*/
body{
  background-attachment: fixed;
}
.headrburger {
  display: none;
}
.headr {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.headr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6e9;
  z-index: 2;
}
.containers {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}
.headrbody {
  position: relative;
  display: flex;
  justify-content: space-between; 
  height: 80px;
  align-items: center;
}
.headrlogo {
  flex: 0 0 220px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  height: 80px;
}
.headrlogo img{
  max-width: 100%;
  display: block;
}

.headrlist{
  text-align: center;
  display: flex;
  position: relative;
  z-index: 2;
}
.headrlist li{
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.headrlink {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
}

.headrlist li a:hover { color: #ff945d; }
.submenu li a:hover{
  color:black;

}
.submenu {
  background: #ff935d;
  position: absolute;
  left:0;
  top: 90%;
  z-index: 5;
  width: 660px;
  opacity: 0;
  text-align: left;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: black;
  text-align: center;
  padding: 10px 0px;
  font-size: 17px;
  border-bottom: 3px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.submenu li{
    float: left;
    position: relative;
}
.submenu li>ul{
    position: absolute;
    top: 50px;;
    display: none;
}
.submenu li:hover>ul{
    display: block;
    width: 250px;
}
.submenu li:hover >ul>li{
    float: none;
}
.headrlist > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
.headrlist a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 110px;
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  color: black;
  transition:.3s linear;
}
/*SLAIDER*/
.gallery{
  display: flex;
  position: relative;
    width: 950px;
    text-align: center;
    margin: 85px 0 0 300px ; 
}

.photo{
    position: relative;
    width: 100%;
    
}

.photo img{
    width: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 3s;
}

.photo img.shown{
     opacity: 1;
}

.prv_b, .nxt_b{
position:absolute;
top:0;
display:block;
width:150px;
height:670px;
cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{opacity:.6;}
.prv_b{
left:0;
background: no-repeat;
}
.nxt_b{
right:0;
background: no-repeat;
}
/*LINE*/
.title{
  padding: 700px 0 0 0;
    text-align: center;
}

.title h2 {
    color: #FFF;
    display: inline-block;
    font-size: 24px;
    overflow: hidden;
}

.title h2:before,
.title h2:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    background: #ccc;
    border: solid #ccc;
    border-width: 0 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

h2{
   font-family: 'Century Gothic', sans-serif;
}
.title h2:before {
    margin-left: -100%;
}

.title h2:after {
    margin-right: -100%;
}
.row1 h1{
	color: #c85a14;
}
.row1 .course{
	width: 400px;
}
.row1 .course p{
	text-align: left;
	margin-top: 15px;
}

h1, h3, li{
	text-align: left;
	 font-family: 'Century Gothic', sans-serif;
	 margin:25px 0 15px 0;
}

p{
 font-family: 'Century Gothic', sans-serif;
 margin: 2px 0 0 2px;
 text-align: justify; 
}
.block {
margin: 5px 5px 15px 15px;
width: 300px;
float: left;
}
.block img{
	margin-bottom: 20px; 
}

.block2 {
margin: 5px 5px 15px 15px;
width: 620px;
height: 400px;
float: left;
}
.block2 img{
	margin-left: 20px; 
}
.block2 h1{
	font-size: 40px;
}
.block3 {
margin: 5px 5px 15px 15px;
width: 620px;
height: 400px;
float: left;
}
.block21 {
margin: 5px 5px 15px 15px;
width: 620px;
height: 0;
float: left;
}
.block21 img{
	margin-left: 20px; 
}
.block21 h1{
	font-size: 40px;
}
.block3 img{
	margin-left: 20px; 
}
.block3 h1{
	font-size: 40px;
}
.block3 p,h1{
	margin-top: 50px;
}
/*CONTENT*/
.fh1{
	text-align: left;
	display: block;
}
/*CONTENT*/
.block4 img{
width: 300px;
height: 450px;
}
.block4 p{
	text-align: center;
	margin-top: 15px;
}
.block4{
margin: 0px 5px 45px 15px;
width: 300px;
float: left;
}
.content {
  flex: 1 0 auto;
  margin: 750px 100px 100px 120px; 
}
.content-course {
  flex: 1 0 auto;
  margin: 100px 100px 100px 120px; 
}
.course p{
	text-align: center;
	margin-top: 15px;
}
.course img{
width: 300px;
height: 450px;
}
.course {
margin: 0px 5px 45px 15px;
width: 300px;
float: left;
}
.course h1{
	margin-top: 5px;
	text-align: left;
}
a.button7 {
	margin-top: 200px;
	margin: 0px 0 0 100px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #ce6857;
  box-shadow: 0 -3px #ab4503 inset;
  transition: 0.2s;
} 
a.button7:hover { background:#ca5568; }
a.button7:active {
  background: #cc5568;
  box-shadow: 0 3px rgb(33,147,90) inset;
}
a.button {
 height: 100%;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #ce6857;
  box-shadow: 0 -3px #ab4503 inset;
  transition: 0.2s;
} 
a.button:hover { background:#ca5568; }
a.button:active {
  background: #cc5568;
  box-shadow: 0 3px rgb(33,147,90) inset;
}
/*MEDIA*/
@media (max-width: 768px){
   .headrbody {
    height: 50px;
  }
  .headrlogo{
    flex: 0 0 200px;
  }
  .headrburger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-left: 50px;
  }
  .headrbody{
    width: 100%;
  }
  .headrburger span{
    position: absolute;
    background-color: white;
    left: 0px;
    height: 2px;
    top: 9px;
    width: 100%;
  }
  .headrburger::before ,
  .headrburger::after {
    content: '';
    background-color: white;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
  }
  .headrburger::before {
    bottom: 0;
  }
  .headrburger::after {
    top: 0;
  }
  .headrmenu {
    position: fixed;
    top: -100%;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 30px 10px 0 40px;
    z-index: 0;
  }
  .active{
    transition: all 0.3s ease 0s;
  }
  .headrmenu.active{
    top: 0;
    background-color: #ff914d;
    text-align: right;
    height: 95px;
  }
  .contents.active{
    padding: 275px 0px 0px 0px;
  }
  .headrburger.active span{
    transform: scale(0);
  }
  .headrburger.active::before{
    transform: rotate(45deg);
    bottom: 9px;
  }
  .headrburger.active::after{
    transform: rotate(-45deg);
    top: 9px;
  }
  .headrlist li a:hover { 
    color:black;
  }
  body.lock{
    overflow: hidden;
  }
  .submenu{
    display: none;
  }
}

@media (max-width: 1441px) and (min-width: 1200px){
  .gallery{
    max-width: 100%;
    margin:85px 0  0 100px;
  }

  .content{
    margin:0 0 6% 6%;
  }

  
}
@media (max-width: 1200px) and (min-width: 991px) {
  .gallery{
    max-width: 100%;
    margin:85px 0 0 0;
  }

  .content{
    margin:0 0 2% 8%;
  }
  
}

@media (max-width: 992px) and (min-width: 768px) {
  .gallery{
    width:100%;
    margin:35px 0 0 0;
  }

  .content{
    margin: 0 0 1% 5%;
  }

}

@media (max-width: 768px) and (min-width: 576px) {
  .gallery{
    width:100%;
    margin:35px 0 0 0;
  }

  .content{
    margin: 0 0 auto 8%;
  }
 
}
@media (max-width: 576px) and (min-width: 375px) {
  .gallery{
   display: none;
  }
 
  .content{
    margin: 0 0 0 4%;
  }
  
}
@media (max-width: 375px) and (min-width: 200px){
  .gallery{
    display: none;
  }
 
  .content{
    margin: 0 0 0 0;
  }
}
  