<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Курсы</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Lena\Desktop\универ\LanguageSchool\src\main\resources\static\css\style.css">
    <link rel="icon" href="C:\Users\Lena\Desktop\универ\КУРС2\СЕМ2\CourseWork\src\main\resources\static\images\favicon.ico">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="burger.js"></script>
<style >
    
</style>
</head>
<body bgcolor="f6f6e9">
<header class="headr">

            <div class='containers'>

                <div class="headrbody">
                    <a href="/" class="headrlogo">
                        <img width="600px" height="100px" src="C:\Users\Lena\Desktop\универ\LanguageSchool\src\main\resources\static\images\logo.png" >
                    </a>
                    <div class="headrburger">
                        <span></span>
                    </div>
                    <nav class="headrmenu">
                        <ul class="headrlist">
                            <li>
                                <a href="index.html" class="headrlink">О нас</a>
                            </li>
                        
                            <li>
                                <a href="courses.html" class="headrlink">Курсы</a>
                                
                            </li>
                            <li th:if="${userRole} == 'GUEST'">
                                <a href="/login" class="headrlink">Войти</a>
                            </li>
                            <li th:if="${userRole} == 'GUEST'">
                                <a href="/logout" class="headrlink">Выйти</a>
                            </li>
                            <li th:if="${userRole} == 'GUEST'"><a href="/sign" class="headrlink">Регистрация
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
	<div class="wrapper">
<div class="content-course">
    <div id="about_courses">
        <div class="container">
            <div class="row1">
                <h1>Индивидуальные онлайн-занятия</h1>
                <p>Индивидуальные занятие по интересующим Вас языкам в онлайн формате с программами по вашим целям и интересам. Учите  языки индивидуально с преподавателем из любой точки мира, в любое удобное для вас время.</p>
                
            
            <div class="about_courses-container">
                   <h1>Английский язык</h1>
                    <div class="course"> <h3 th:text="${product.getName()}">Name </h3>
                        <p th:text="${product.getDescription()}">Description</p>
                     <p th:text="${product.getPrice()+' p.'}">Price</p>
                    <a th:href="@{/product(productId=${product.getId()})}" class="button7">Подробнее</a>
                </div>
         <!--       <div class="course"> <h3>Подготовка к экзаменам </h3>
                        <p>IELTS, CPE, PTE, ЕГЭ и ОГЭ</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Подготовитесь к формату экзамена
                        </li>
                        
                        <li>
                        Повысите свой уровень языка
                        </li>
                        <li>
                        Отработаете все части экзамена (чтение, письмо, разговорную речь, владение грамматикой, аудирование)
                        </li>
                        <li>
                        Пополните словарный запас словами, необходимыми для экзамена
                        </li>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button7">Подробнеe</a>
                </div>
                <div class="course"> <h3>Деловой английский </h3>
                        <p>Добиваемся большего на работе и в бизнесе:</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Участвуем в конференциях
                        </li>
                        <li>
                        Выступаем с презентациями
                        </li>
                        <li>
                        Готовимся к командировкам заграницу
                        </li>
                        <li>
                        Читаем СМИ и блоги на английском
                        </li>
                        <li>
                        Грамотно ведём деловую переписку
                        </li>
                        <li>
                        Общаемся с иностранными партнёрами
                        </li>
                        <br>
                        <br>
                        
                        <a href="#" class="button7">Подробнее</a>
                        <br>
                </div>
<div class="course"></div>
                     <h1>Китайский язык</h1>
                    <div class="course"> <h3>Китайский для начинающих </h3>
                        <p>Повышаем уровень владения языком</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Учимся китайскому с нуля
                        </li>
                        <li>
                        Преодолеваем языковой барьер
                        </li>
                        <li>
                        Увеличиваем словарный запас
                        </li>
                        <li>
                        Общаемся на повседневные темы
                        </li>
                        <li>
                        Улучшаем произношение
                        </li>
                        <br>
                        <br>
                        <br>
                        <br>

                    <a href="#" class="button7">Подробнее</a>
                </div>
                <div class="course"> <h3>Подготовка к экзаменам </h3>
                        <p>HSK, ЕГЭ и ОГЭ</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Подготовитесь к формату экзамена
                        </li>
                        
                        <li>
                        Повысите свой уровень языка
                        </li>
                        <li>
                        Отработаете все части экзамена (чтение, письмо, разговорную речь, владение грамматикой, аудирование)
                        </li>
                        <li>
                        Пополните словарный запас словами, необходимыми для экзамена
                        </li>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button7">Подробнеe</a>
                </div>
                <div class="course"> <h3>Деловой китайского </h3>
                        <p>Добиваемся большего на работе и в бизнесе:</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Участвуем в конференциях
                        </li>
                        <li>
                        Выступаем с презентациями
                        </li>
                        <li>
                        Готовимся к командировкам заграницу
                        </li>
                        <li>
                        Читаем СМИ и блоги на китайском
                        </li>
                        <li>
                        Грамотно ведём деловую переписку
                        </li>
                        <li>
                        Общаемся с иностранными партнёрами
                        </li>
                        <br>
                        <br>
                        
                        <a href="#" class="button7">Подробнее</a>
                        
                </div>

                <h1>Немецкий язык</h1>
                    <div class="course"> <h3>Немецкий для начинающих </h3>
                        <p>Повышаем уровень владения языком</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Учимся немецкому с нуля
                        </li>
                        <li>
                        Преодолеваем языковой барьер
                        </li>
                        <li>
                        Увеличиваем словарный запас
                        </li>
                        <li>
                        Общаемся на повседневные темы
                        </li>
                        <li>
                        Улучшаем произношение
                        </li>
                        <br>
                        <br>
                        <br>
                        <br>

                    <a href="#" class="button7">Подробнее</a>
                </div>
                <div class="course"> <h3>Подготовка к экзаменам </h3>
                        <p>TestDaF, ЕГЭ и ОГЭ</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Подготовитесь к формату экзамена
                        </li>
                        
                        <li>
                        Повысите свой уровень языка
                        </li>
                        <li>
                        Отработаете все части экзамена (чтение, письмо, разговорную речь, владение грамматикой, аудирование)
                        </li>
                        <li>
                        Пополните словарный запас словами, необходимыми для экзамена
                        </li>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button7">Подробнеe</a>
                </div>
                <div class="course"> <h3>Деловой немецкий </h3>
                        <p>Добиваемся большего на работе и в бизнесе:</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Участвуем в конференциях
                        </li>
                        <li>
                        Выступаем с презентациями
                        </li>
                        <li>
                        Готовимся к командировкам заграницу
                        </li>
                        <li>
                        Читаем СМИ и блоги на немецком
                        </li>
                        <li>
                        Грамотно ведём деловую переписку
                        </li>
                        <li>
                        Общаемся с иностранными партнёрами
                        </li>
                        <br>
                        <br>
                        
                        <a href="#" class="button7">Подробнее</a>
                        
                </div>
                
                <h1>Французский язык</h1>
                    <div class="course"> <h3>Французский для начинающих </h3>
                        <p>Повышаем уровень владения языком</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Учимся французскому  с нуля
                        </li>
                        <li>
                        Преодолеваем языковой барьер
                        </li>
                        <li>
                        Увеличиваем словарный запас
                        </li>
                        <li>
                        Общаемся на повседневные темы
                        </li>
                        <li>
                        Улучшаем произношение
                        </li>
                        <br>
                        <br>
                        <br>
                        <br>

                    <a href="#" class="button7">Подробнее</a>
                </div>
                <div class="course"> <h3>Подготовка к экзаменам </h3>
                        <p>DELF, DALF, ЕГЭ и ОГЭ</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Подготовитесь к формату экзамена
                        </li>
                        
                        <li>
                        Повысите свой уровень языка
                        </li>
                        <li>
                        Отработаете все части экзамена (чтение, письмо, разговорную речь, владение грамматикой, аудирование)
                        </li>
                        <li>
                        Пополните словарный запас словами, необходимыми для экзамена
                        </li>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button7">Подробнеe</a>
                </div>
                <div class="course"> <h3>Деловой французский </h3>
                        <p>Добиваемся большего на работе и в бизнесе:</p>
                        <p><b>Что входит в курс:</b></p>
                        <li>
                        Участвуем в конференциях
                        </li>
                        <li>
                        Выступаем с презентациями
                        </li>
                        <li>
                        Готовимся к командировкам заграницу
                        </li>
                        <li>
                        Читаем СМИ и блоги на французском
                        </li>
                        <li>
                        Грамотно ведём деловую переписку
                        </li>
                        <li>
                        Общаемся с иностранными партнёрами
                        </li>
                        <br>
                        <br>
                        
                        <a href="#" class="button7">Подробнее</a>
                        
                </div>
            </div>
         -->
      <!-- about_courses end -->
</div>
</div>
</div>
</div>
    <!-- teachers end -->
 <div class="footer">
       
        </div>
</div>
</body>
</html>